:root {
    --font-family: "Montserrat";
    --second-family: "Roboto";
}

html,
body {
    padding: 0;
    margin: 0;
}

/* ****************************HEADER TOP******************************* */
.header-top {
    padding: 30px 210px;
    display: flex;
    align-items: center;
    gap: 70px;
    position: relative;
    background-color: #00093c;
}

.first-li-header-top,
.second-li-header-top {
    display: flex;
    list-style-type: none;
    gap: 45px;
}

.first-li-header-top a,
.second-li-header-top a {
    display: flex;
    text-decoration: none;
    color: #fff;
}

.first-li-header-top a:hover,
.second-li-header-top a:hover {
    color: #fff;
}

.first-li-header-top li,
.second-li-header-top li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.popup-city-container {
    display: none;
    position: absolute;
    top: 91%;
    max-width: 1185px;
    width: 100%;
}

.shadow-gradient-popup-city {
    position: relative;
    padding: 12px;
}

.popup-city {
    background-color: #fff;
    padding: 20px 20px;
    height: 170px;
    z-index: 3;
    position: relative;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.shadow-gradient-popup-city::before {
    content: "";
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    filter: blur(20px);
    opacity: 0.6;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.title-wrap {
    display: flex;
    justify-content: space-between;
}

.title-wrap h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.title-wrap img {
    width: 100%;
    max-width: 12px;
    height: 12px;
    cursor: pointer;
}

.cities {
    display: flex;
    gap: 120px;
    margin-top: 10px;
}

.cities-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cities-col span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #4f4f4f;
    cursor: pointer;
}

.cities-col span:hover {
    font-weight: 400;
    text-decoration: underline;
    color: #00093c;
}

.city-pick-header-top-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
}

.city-pick-header-top-wrapper img:not(.geo) {
    position: absolute;
    right: -25%;
    top: 42%;
}

.city-pick-img {
    margin-right: 5px;
}

.city-pick-header-top {
    border-bottom: 1px solid #fff;
}

.first-li-header-top img,
.second-li-header-top img {
    margin-right: 7px;
}

/* ****************************MAIN******************************* */

.test-container {
    margin-top: 60px;
}

.test-content {
    margin-top: 80px;
}

.help {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #000;
}

.question:first-of-type {
    display: flex;
}

.question {
    display: none;
    flex-direction: column;
    gap: 60px;
}

.question p {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #000;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.li-radio {
    display: flex;
    position: relative;
}

.test-content label {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.test-content input[type="radio"]:checked+label {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.test-content input[type="radio"] {
    margin-right: 15px;
    opacity: 0;
}

.test-content input[type="radio"]:checked+label::before {
    margin-right: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff 0) padding-box,
        linear-gradient(90deg, #f7941d, #27aae1) border-box;
    border-radius: 10px;
    background-color: #fff;
}

.test-content input[type="radio"]+label::before {
    margin-right: 5px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}

.test-content input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    left: 5.332px;
    top: calc(40% + 2.5px);
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
}

.button-container {
    display: flex;
    gap: 350px;
    justify-content: center;
}

.question button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 150px;
    height: 50px;
    background-color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: #00093c;
    border: 2px solid #00093c;
    border-radius: 6px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
}

.window-content {
    padding: 50px;
}

.result-proffession {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    margin-bottom: 30px;
}

.progress-container {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -65px auto auto;
}

.progress-bar {
    stroke-dasharray: 239;
    transition: stroke-dashoffset 0.3s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-number {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #828282;
}

.link {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 10px;
    line-height: 30px;
    height: 50px;
    cursor: pointer;
    transition: background-color .3s;
    width: 100%;
    max-width: 200px;
}

.link:hover {
    background-color: #cbc9c9;
}

.link a {
    text-decoration: none;
    color: #000;
}

.link a:hover {
    color: #000;
}

.close {
    position: absolute;
    top: -2px;
    right: 6px;
    cursor: pointer;
}