:root {
    --font-family: "Montserrat";
    --second-family: "Roboto";
}

html,
body {
    padding: 0;
}

/* ****************************HEADER TOP******************************* */
.header-top {
    padding: 30px 200px;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    position: relative;
}

.first-li-header-top,
.second-li-header-top {
    display: flex;
    list-style-type: none;
    gap: 45px;
}

.first-li-header-top a,
.second-li-header-top a {
    text-decoration: none;
    color: #000;
}

.first-li-header-top a:hover {
    color: #000;
}

.first-li-header-top li,
.second-li-header-top li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.popup-city-container {
    display: none;
    position: absolute;
    top: 91%;
    max-width: 1185px;
    width: 100%;
}

.shadow-gradient-popup-city {
    position: relative;
    padding: 12px;
}

.popup-city {
    background-color: #fff;
    padding: 20px 20px;
    height: 170px;
    z-index: 3;
    position: relative;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.shadow-gradient-popup-city::before {
    content: "";
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    filter: blur(20px);
    opacity: 0.6;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.title-wrap {
    display: flex;
    justify-content: space-between;
}

.title-wrap h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.title-wrap img {
    width: 100%;
    max-width: 12px;
    height: 12px;
    cursor: pointer;
}

.cities {
    display: flex;
    gap: 120px;
    margin-top: 10px;
}

.cities-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cities-col span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #4f4f4f;
    cursor: pointer;
}

.cities-col span:hover {
    font-weight: 400;
    text-decoration: underline;
    color: #00093c;
}

.city-pick-header-top-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
}

.city-pick-header-top-wrapper img:not(.geo) {
    position: absolute;
    right: -18%;
    top: 42%;
}

.city-pick-img {
    margin-right: 5px;
}

.city-pick-header-top {
    border-bottom: 1px solid #000;
}

.first-li-header-top img,
.second-li-header-top img {
    margin-right: 3px;
}

/* ****************************HEADER MAIN******************************* */

.header-main {
    position: relative;
    overflow: visible;
    padding-right: 100px;
    height: 480px;
    margin-bottom: 20px;
}

.header-main::before,
.header-main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
}

.header-main::before {
    background-color: #00093c;
    left: 0;
    width: 65%;
}

.header-main::after {
    background-image: url(images/header-images/slider\ 1-small.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    right: 0;
    width: 40%;
}

.header-content {
    position: relative;
    z-index: 2;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-header {
    position: absolute;
    z-index: 1;
}

.header-img {
    background-color: #fff;
}

.header-main img {
    position: absolute;
    z-index: 1;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.header-content h1 span:first-of-type {
    position: absolute;
    top: 66%;
    left: 22%;
}

.header-content h1 span:last-of-type {
    position: absolute;
    top: 101%;
    left: 22%;
}

.header-content p {
    position: absolute;
    top: 139%;
    left: 22.2%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

/* ****************************BLOCK WITH COURSES******************************* */

.courses-block {
    position: relative;
    margin-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    height: 400px;
}

/* ********owl******* */
.owl {
    flex: 1;
}

.owl-container {
    position: relative;
}

.owl-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}

.owl-text {
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px;
}

.owl-text .big-text,
.owl-text .small-text {
    margin-bottom: -15px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.owl-text .small-text {
    font-weight: 500;
}

.owl-text .small-text:last-of-type {
    margin-top: 30px;
}

.union-small {
    position: absolute;
    z-index: 1;
}

.owl-small {
    position: absolute;
    top: 42%;
    left: 13%;
    z-index: 2;
}

/* ********courses-people************** */
.courses-content {
    flex: 2;
}

.for-who {
    position: relative;
    display: flex;
    gap: 280px;
    width: 100%;
    max-width: 990px;
}

.for-who-people {
    position: relative;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.indicator {
    position: absolute;
    top: 90%;
    left: 0;
    width: 13.3%;
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    transition: left 0.3s ease;
    opacity: 1;
}

.people-text {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.people-text span:first-of-type {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.people-text span:last-of-type {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
}

/* ********courses-list************** */

.courses-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-row {
    display: flex;
    gap: 70px;
}

.container-course {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .3s;
}

.container-course:hover {
    transform: scale(1.050);
}

.container-course:hover .shadow-course {
    filter: blur(20px);
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

.course {
    position: relative;
    padding: 10px 20px;
    width: fit-content;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000;
}

.shadow-course {
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    filter: blur(2px);
    opacity: 0.6;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 10px;
    transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s, filter 0.3s;
}

/* ****************************INFO ABOUT PROJECT******************************* */

.info-about-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 780px;
}


.video {
    position: relative;
    text-align: center;
}

.video-container>svg {
    position: absolute;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 780px;
    height: 100%;
}

.video-overlay .boy-image-iframe {
    width: 100%;
    max-width: 780px;
    height: 100%;
}

.play {
    position: absolute;
    top: 36%;
    left: 42%;
    z-index: 4;
    cursor: pointer;
}

.dark {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 780px;
    height: 100%;
    z-index: 3;
    background-color: #00093c;
    opacity: .6;
    border-radius: 18px;
}

.video iframe {
    background-image: url(images/Group\ 779.png);
    border-radius: 17px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    width: 100%;
    max-width: 780px;
    height: 435px;
}

/* ********quantity************** */

.info-wrapper-bottom h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    color: #000;
}

.quantity-container {
    margin-top: 60px;
    display: flex;
    gap: 165px;
}

.quantity {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.quantity span {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000;
    max-width: 120px;
}

/* ***************************SECTIONS************** ********/

/* ***************first-block-once************* */
.day-of-open-door {
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: #F7BC75;
    border-radius: 10px;
    padding: 15px 30px;
    padding-bottom: 5px;
    max-width: 1180px;
    width: 100%;
}

.svg-day-of {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.text-day-of {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.text-day-of span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 72%;
    color: #000;
    margin-bottom: 35px;
}

.text-day-of p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #333;
}

.button-day-of-container {
    display: flex;
    align-items: center;
    margin-left: 210px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 100%;
    max-width: 222px;
    height: 60px;
}

.button-day-of {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.button-day-of span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #000
}

.button-day-of svg {
    margin-left: 5px;
}

/* ***************sections-flex**************** */

.sections {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 150px;
}

.container-shadow {
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
}

.shadow-info-bottom {
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    filter: blur(5px);
    opacity: 0.4;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 10px;
    transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s, filter 0.3s, opacity .3s;
}

.container-shadow:hover .shadow-info-bottom {
    filter: blur(30px);
    opacity: 0.9;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

.programms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 30px 20px;
    max-width: 480px;
    background-color: #C5DDFF;
    border-radius: 10px;
}

.programms h4,
.news h4,
.it-world h4,
.test h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 108%;
    text-align: center;
    color: #000;
}

.programms p,
.test p {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
}

.button-programms {
    border: 2px solid #00093c;
    border-radius: 10px;
    width: 100%;
    max-width: 222px;
    height: 50px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.button-programms span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #00093c;
}

.button-programms svg {
    margin-left: 5px;
}

.wrapper-three-section {
    width: 100%;
    max-width: 680px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.news-it-wrapper {
    display: flex;
    gap: 30px;
    width: 100%;
}

.news {
    background-color: #B8EFCF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 30px 20px;
    max-width: 330px;
    height: 220px;
    border-radius: 10px;
    cursor: pointer;
}

.it-world {
    background-color: #FFEEF6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 30px 20px;
    max-width: 330px;
    height: 220px;
    cursor: pointer;
}

.test {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #FFE38E;
    border-radius: 10px;
    width: 100%;
    max-width: 680px;
    height: 100%;
    max-height: 220px;
    padding: 30px 40px;
    cursor: pointer;
}

.text-test {
    display: flex;
    flex-direction: column;
}

.text-test h4 {
    text-align: start;
}

.text-test p {
    text-align: start;
}

/* ***************************REVIEWS**********************/

.reviews {
    padding-top: 80px;
    width: 100%;
    height: 665px;
    background-size: 100% 100%;
    background-image: url(images/reviews-images/Group\ 861.png);
    background-position-x: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.reviews h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 33px;
    color: #fff;
    text-align: center;
}

.review {
    display: table;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    max-width: 290px;
    height: 100%;
}

.acc-info-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.owl-carousel.owl-loaded {
    margin-top: 60px;
}

.owl-carousel .owl-item .acc-info-wrap img {
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
}

.acc-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.acc-course {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
}

.review-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: #000;
}

.review-rating {
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

.review-rating span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: #4f4f4f;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 21px;
    height: 21px;
}

.reviews hr {
    width: 50%;
    margin: 35px auto;
    height: 3px;
    color: #fff;
    opacity: 1;
}

.slider-container {
    width: 60%;
    height: 5px;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
}

.slider-reviews {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    transition: left .3s ease;
}

/* ***************************WELCOME BLOCK**********************/

.welcome-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 94%;
    color: #000;
    margin-bottom: 70px;
}

.welcome-info {
    display: flex;
    gap: 75px;
}

.welcome-info-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.welcome-info-content img {
    width: 100%;
    max-width: 60px;
    height: 60px;
}

.welcome-info-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #000;
}

/* ***************************FORM HELP CHOICE**********************/

.form-shadow-container {
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 1180px;
    height: 270px;
    margin-bottom: -30px;
}

.form-shadow {
    background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
    filter: blur(5px);
    opacity: 0.4;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 20px;
}

.form-help-choice {
    position: relative;
    padding: 40px;
    margin-top: 200px;
    width: 100%;
    max-width: 1180px;
    height: 270px;
    background-color: #fff;
    border-radius: 20px;
}

.form-help-choice img {
    position: absolute;
}

.union-form-text {
    position: absolute;
    left: 23%;
    top: 20%;
}

.union-form-text div:first-of-type {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

.union-form-text div:last-of-type {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
}

.form-inside {
    display: flex;
    justify-content: flex-end;
}

.form-help {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 440px;
}

form>input,
.bottom-input input {
    width: 100%;
    max-width: 440px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    background: rgba(0, 9, 60, 0.1);
    border: none;
    padding: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #4f4f4f;
}

.bottom-input,
.info-button-form {
    display: flex;
    gap: 20px;
}

.info-button-form {
    gap: 40px;
}

.bottom-input input {
    width: 100%;
    max-width: 210px;
}

.info-button-form p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: #4f4f4f;
}

.button-form-help {
    width: 100%;
    max-width: 210px;
    height: 50px;
    text-align: center;
    background-color: #f7941d;
    border-radius: 6px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-form-help:focus,
.button-form-help:active {
    border: none;
    outline: none;
}

/* ***************************FOOTER**********************/

footer {
    width: 100%;
    height: 580px;
    background-color: #00093c;
}

.footer-container {
    display: flex;
    gap: 70px;
}

.info-block-footer {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.logo-footer {
    margin-top: 170px;
    width: 100%;
    max-width: 84px;
}

.info-contact-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-contact-footer a {
    display: inline;
    max-width: fit-content;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #fff;
}

.info-contact-footer a:last-of-type {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
}

.info-contact-footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.info-contact-footer div {
    display: inline;
    max-width: fit-content;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #fff;
}

.society-footer {
    display: flex;
    max-width: fit-content;
    gap: 25px;
}

.info-block-footer>div {
    max-width: fit-content;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #bdbdbd;
}

.sections-col-footer {
    margin-top: 55px;
}

.lasts-col {
    display: flex;
    gap: 50px;
}

.li {
    display: flex;
    flex-direction: column;
}

.li h5 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    color: #fff;
}

.a-footer {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 243%;
    text-decoration: none;
}

.a-footer:hover {
    color: #fff;
    text-decoration: underline;
}